.platillo-titulo{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display:inline-block;
}
.platillo-descripcion{
    max-height: 2em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 10px;
}
.platillo{
    cursor: pointer;
}
.titulo-modal{
    margin: 10px 0px;
    font-size: 1.5rem;
}
.descripcion-modal{
    padding: 0 0 1rem 0;
    border-bottom: 1px solid #afafaf;
    margin: 0 0 1rem 0;
}
.titulo-opciones-modal, .titulo-comentario-modal{
    margin: .5rem 0;
}